*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/*h1{
    text-align: center;
    color: #bc89ff;
}*/
/*

.weichangjing{
    border:1px solid #ffdb90;
    padding:10px 20px 10px;
}
.weichangjing p{
    color: #ff9e2a;
    font-size: 20px;
}
a{
    display: block;
    color: #000;
}*/


.home .container{
    background: url(../img/bg.jpg) no-repeat center center fixed;
    width: 100%;
    height: 100vh;
}
.home .container .top .top-text {
    text-align: center;
}
.home .container .top .top-text h1{
    color: #fff;
    font-size: 73px;
}
.home .container .top .top-text h3{
    color: #EC7787;
    font-size: 24px;
}
.home .container .top .top-text a{
    border: 1px solid rgb(223, 49, 74);
    background-color: rgba(35, 140, 133, 0);
    color: #EC7787;
    /* box-shadow: 2px 2px #625862; */
    font-size: 20px;
    padding: 17px 25px;
    text-decoration: none;
}
.home .container .top .top-text a:hover{
    color: #337ab7;
    background: #fff;
    border: 1px solid #337ab7;
}

