*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    position: relative;
    height: 100%;
}

body {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
    text-align: center;
}

.swiper-container {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

}

/*自定义样式  - 开始*/

/*向下翻页的按钮*/
.swiper-button-next {
    position: absolute;
    top: auto;
    bottom: 5%;
    left: 50%;
    right: auto;
    margin-left: -13.5px;
    transform: rotateZ(-90deg);
}


/* .s1*/

.s1,.s2,.s3 {
    background: url("../img/bj.png");
    background-size: cover;
    height: 100%;
}

.s1 .header img{
    position: absolute;
}

.s1 .header img:nth-of-type(1){
    width: 35px;
    top: 120px;
    left: 50px;
    animation: swing infinite;
}

.s1 .header img:nth-of-type(2){
    width: 65px;
    top: 90px;
    right: 40px;
    animation: swing infinite;
}

.s1 .header img:nth-of-type(3){
    width: 55px;
    left: 35px;
    bottom: 180px;
    animation: swing infinite;
}
.s1 .header img:nth-of-type(4){
    width: 50px;
    right: 50px;
    bottom: 210px;
    animation: swing infinite;
}
.s1 .header img:nth-of-type(5){
    left: 50%;
    top: 25%;
    width: 60%;
    margin-left: -30%;
    animation: pulse infinite;
}

.s1 .main{
    position: absolute;
    top:30%;
}
.s1 .main img:nth-of-type(1){
    width:40%;

}
.s1 .main img:nth-of-type(2){
    width:80%;
    margin-bottom: 20px;
}

.s1 .main .img9{
    background: url("../img/9.png");
    width:205px;
    height:24px;
    margin: auto;
    background-size: contain;
    font-weight: bold;
}

.s1 .footer{
    color: #00f4c2;
    width:100%;
    position: absolute;
    bottom:5px;
    left:0;
}
.s1 .footer h2{
    font-size: 18px;
    margin-bottom: 10px;
}
.s1 .footer p:nth-of-type(1){
    font-size: 14px;
    margin-bottom: 35px;
}
.s1 .footer p:nth-of-type(2){
    height:70px;
}
.s1 .footer p img{
    height:70px;
    position: absolute;
}
.s1 .footer p img:nth-of-type(1){
    left:-115px;
    bottom: 6px;
}
.s1 .footer p img:nth-of-type(2){
    left:-130px;
    /* animation: fadeInRight infinite;*/ //循环
}


/*第二屏*/
.s2{
    color: #07e9c4;
}
.s2 h2{
    padding-top: 50px;
    margin-bottom: 30px;
}
.s2 h2::before{
    background: url("../img/14.png");
    width: 82px;
    height: 20px;
    background-size: cover;
    content: "";
    position: absolute;
    display: inline-block;
    top:60px;
    left:20px;
}
.s2 h2::after{
    background: url("../img/13.png");
    width: 82px;
    height: 20px;
    background-size: cover;
    content: "";
    position: absolute;
    display: inline-block;
    top:60px;
    right:20px;
}
.s2 h2 small{
    display: block;
    font-size: 10px;
    letter-spacing:6px;
    padding-top: 10px;
}
.s2 .main img{
    width: 80%;
}
.s2 .main{
    position: relative;
}
.s2 .main .text{
    position: absolute;
    top:0;
    width:80%;
    padding:5%;
    font-size: 14px;
    left:0;
    right:0;
    margin: auto;
}
.s2 .main .text p{
    text-align: left;
    line-height: 16px;
    letter-spacing:2px;
}
.s2 .main span{
    background: linear-gradient(to right, #00e7f9, #00fd9b);
    width: 120px;
    height: 28px;
    border-radius: 50px;
    color: #000;
    font-weight: 600;
    font-size: 18px;
    position: absolute;
    bottom: 0;
    display: block;
    margin-left: -60px;
    left:50%;
}

.s2 .footer{
    width:100%;
    position: absolute;
    bottom:5px;
}
.s2 .footer p{
    height:70px;
}
.s2 .footer p img{
    height:70px;
    position: absolute;
}
.s2 .footer p img:nth-of-type(1){
    left:-115px;
    bottom:6px;
}
.s2 .footer p img:nth-of-type(2){
    left:-130px;
}


/*第三屏*/
.s3{
    color: #00eec3;
}
.s3 h2{
    padding-top: 50px;
    margin-bottom: 30px;
}
.s3 h2::before{
    background: url("../img/14.png");
    width: 82px;
    height: 20px;
    background-size: cover;
    content: "";
    position: absolute;
    display: inline-block;
    top:60px;
    left:20px;
}
.s3 h2::after{
    background: url("../img/13.png");
    width: 82px;
    height: 20px;
    background-size: cover;
    content: "";
    position: absolute;
    display: inline-block;
    top:60px;
    right:20px;
}
.s3 h2 small{
    display: block;
    font-size: 10px;
    letter-spacing:6px;
    padding-top: 10px;
}

