*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    position: relative;
    height: 100%;
}
.clearfix:before,
.clearfix:after{
    content: "";
    display: table;
    clear: both;
}
body {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
    text-align: center;
}

.swiper-container {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

}

/*自定义样式  - 开始*/

/*向下翻页的按钮*/
.swiper-button-next {
    position: absolute;
    top: auto;
    bottom: 5%;
    left: 50%;
    right: auto;
    margin-left: -13.5px;
    transform: rotateZ(-90deg);
}


.mp3btn{
    width: 30px;
    height: 30px;
    background: rgba(80, 79, 79, 0.38);
    z-index: 100;
    position: absolute;
    top: 3%;
    right: 5%;
    border-radius: 50%;
    line-height: 30px;
    border: 3px solid rgba(210, 208, 208, 0.16);
    transform: rotateZ(0deg);
    animation: mp3btnkey 3s infinite linear; /*linear匀速  infinite循环*/
}
@keyframes mp3btnkey {
    0%{
        transform: rotateZ(0deg);
    }
    100%{
        transform: rotateZ(360deg);
    }
}
.mp3btn img{
    width: 10px;
}

/* .s1*/

.s1,.s2,.s3,.s4,.s5,.s6,.s7{
    background: url("../img/bj.png");
    background-size: cover;
    height: 100%;
}

.s1 .header img{
    position: absolute;
}
.s1 .header .swing{
    transform-origin: center;
}
.s1 .header img:nth-of-type(1){
    width: 35px;
    top: 120px;
    left: 50px;
}

.s1 .header img:nth-of-type(2){
    width: 65px;
    top: 90px;
    right: 40px;
}

.s1 .header img:nth-of-type(3){
    width: 55px;
    left: 35px;
    bottom: 180px;
}
.s1 .header img:nth-of-type(4){
    width: 50px;
    right: 50px;
    bottom: 210px;
}
.s1 .header img:nth-of-type(5){
    left: 50%;
    top: 25%;
    width: 60%;
    margin-left: -30%;
    animation: pulse infinite;
}

.s1 .main{
    position: absolute;
    top:30%;
}
.s1 .main img:nth-of-type(1){
    width:40%;

}
.s1 .main img:nth-of-type(2){
    width:80%;
    margin-bottom: 20px;
}

.s1 .main .img9{
    background: url("../img/9.png");
    width:205px;
    height:24px;
    margin: auto;
    background-size: contain;
    font-weight: bold;
}

.s1 .footer{
    color: #00f4c2;
    width:100%;
    position: absolute;
    bottom:5px;
    left:0;
}
.s1 .footer h2{
    font-size: 18px;
    margin-bottom: 10px;
}
.s1 .footer p:nth-of-type(1){
    font-size: 14px;
    margin-bottom: 35px;
}
.s1 .footer p:nth-of-type(2){
    height:70px;
}
.s1 .footer p img{
    height:70px;
    position: absolute;
}
.s1 .footer p img:nth-of-type(1){
    left:-115px;
    bottom: 6px;
}
.s1 .footer p img:nth-of-type(2){
    left:-130px;
    /* animation: fadeInRight infinite;*/ //循环
}


/*第二屏*/
.s2{
    color: #07e9c4;
}
.s2 h2{
    padding-top: 50px;
    margin-bottom: 30px;
}
.s2 h2::before{
    background: url("../img/14.png");
    width: 82px;
    height: 20px;
    background-size: cover;
    content: "";
    position: absolute;
    display: inline-block;
    top:60px;
    left:20px;
}
.s2 h2::after{
    background: url("../img/13.png");
    width: 82px;
    height: 20px;
    background-size: cover;
    content: "";
    position: absolute;
    display: inline-block;
    top:60px;
    right:20px;
}
.s2 h2 small{
    display: block;
    font-size: 10px;
    letter-spacing:6px;
    padding-top: 10px;
}
.s2 .main img{
    width: 80%;
    height: 60vh;
}
.s2 .main{
    position: relative;
}
.s2 .main .text{
    position: absolute;
    top:0;
    width:80%;
    padding:5%;
    font-size: 14px;
    left:0;
    right:0;
    margin: auto;
}
.s2 .main .text p{
    text-align: left;
    line-height: 16px;
    letter-spacing:2px;
}
.s2 .main span{
    background: linear-gradient(to right, #00e7f9, #00fd9b); /*左右渐变*/
    width: 120px;
    height: 28px;
    border-radius: 50px;
    color: #000;
    font-weight: 600;
    font-size: 18px;
    position: absolute;
    bottom: 0;
    display: block;
    margin-left: -60px;
    left:50%;
}

.s2 .footer{
    width:100%;
    position: absolute;
    bottom:5px;
}
.s2 .footer p{
    height:70px;
}
.s2 .footer p img{
    height:70px;
    position: absolute;
}
.s2 .footer p img:nth-of-type(1){
    left:-115px;
    bottom:6px;
}
.s2 .footer p img:nth-of-type(2){
    left:-130px;
}


/*第三屏*/
.s3{
    color: #00eec3;
}
.s3 h2{
    padding-top: 50px;
    margin-bottom: 30px;
}
.s3 h2::before{
    background: url("../img/14.png");
    width: 82px;
    height: 20px;
    background-size: cover;
    content: "";
    position: absolute;
    display: inline-block;
    top:60px;
    left:20px;
}
.s3 h2::after{
    background: url("../img/13.png");
    width: 82px;
    height: 20px;
    background-size: cover;
    content: "";
    position: absolute;
    display: inline-block;
    top:60px;
    right:20px;
}
.s3 h2 small{
    display: block;
    font-size: 10px;
    letter-spacing:6px;
    padding-top: 10px;
}

.s3 .main{
    position: relative;
    height:60vh;
}
.s3 .main div:nth-of-type(1){
    position: absolute;
    width: 132px;
    height: 132px;
    background: radial-gradient(circle, #040825, #00576a); /* 由内而外渐变 */
    border-radius: 50%;
    text-align: center;
    line-height: 132px;
    top:80px;
    left:50%;
    margin-left: -66px;
}
.s3 .main div{
    width: 60px;
    height: 60px;
    background: radial-gradient(circle, #040825, #00576a); /* 由内而外渐变 */
    border-radius: 50%;
    text-align: center;
    line-height: 60px;
    position: absolute;
}
.s3 .main div:nth-of-type(2){
    left:23%;
}
.s3 .main div:nth-of-type(3){
    right:23%;
}
.s3 .main div:nth-of-type(4){
    left:6%;
    top:120px;
}
.s3 .main div:nth-of-type(5){
    right:6%;
    top:120px;
}
.s3 .main div:nth-of-type(6){
    left:23%;
    top:240px;
}
.s3 .main div:nth-of-type(7){
    right:23%;
    top:240px;
}
.s3 .main .text{
    font-size: 14px;
    border-left: 3px solid #03f1d1;
    line-height: 20px;
    position: absolute;
    text-align: left;
    bottom:0;
    margin: 0 30px;
    padding-left: 10px;

}

.s3 .footer{
    width:100%;
    position: absolute;
    bottom:5px;
}
.s3 .footer p{
    height:70px;
}
.s3 .footer p img{
    height:70px;
    position: absolute;
}
.s3 .footer p img:nth-of-type(1){
    left:-115px;
    bottom:6px;
}
.s3 .footer p img:nth-of-type(2){
    left:-130px;
}


/*第四屏*/
.s4{
    color: #00f2bf;
}
.s4 h2{
    padding-top: 50px;
    margin-bottom: 30px;
}
.s4 h2::before{
    background: url("../img/14.png");
    width: 82px;
    height: 20px;
    background-size: cover;
    content: "";
    position: absolute;
    display: inline-block;
    top:60px;
    left:20px;
}
.s4 h2::after{
    background: url("../img/13.png");
    width: 82px;
    height: 20px;
    background-size: cover;
    content: "";
    position: absolute;
    display: inline-block;
    top:60px;
    right:20px;
}
.s4 h2 small{
    display: block;
    font-size: 10px;
    letter-spacing:6px;
    padding-top: 10px;
}
.s4 .main{
    position: relative;
}
.s4 .main img{
    width: 80%;
}

.s4 .main .year{
    position: absolute;
    top:10px;
    left:50%;
    margin-left: -100px;
}
.s4 .main .year li{
    float: left;
    margin-left: 35px;
}
.s4 .main .year li:nth-of-type(2){
    color: #00b3ff;
}
.s4 .main .data{
    position: absolute;
    top:6vh;
    width: 80%;
    padding:10px;
    left: 50%;
    margin-left: -40%;
    text-align: left;
}
.s4 .main .data div{
    margin-bottom: 4vh;
}
.s4 .main .data h3{
    font-size: 16px;
    padding-bottom: 8px;
}
.s4 .main .data h3 a{
    color: #fff;
}
.s4 .main .data p:nth-of-type(1) span:nth-of-type(1){
     background: linear-gradient(to right, rgba(255, 255, 255, 0.07), #26f9b2);
     float: left;
     height: 10px;
    margin-bottom: 5px;
    margin-right: 5px;
}
.s4 .main .data p:nth-of-type(2) span:nth-of-type(1){
    background: linear-gradient(to right, rgba(255, 255, 255, 0.07), #04bbfd);
    float: left;
    height: 10px;
    margin-right: 5px;
}
.s4 .main .data div:nth-of-type(1) p:nth-of-type(1) span:nth-of-type(1){
    width: 80%;
}
.s4 .main .data div:nth-of-type(1) p:nth-of-type(2) span:nth-of-type(1){
    width: 40%;
}
.s4 .main .data div:nth-of-type(2) p:nth-of-type(1) span:nth-of-type(1){
    width: 70%;
}
.s4 .main .data div:nth-of-type(2) p:nth-of-type(2) span:nth-of-type(1){
    width: 35%;
}
.s4 .main .data div:nth-of-type(3) p:nth-of-type(1) span:nth-of-type(1){
    width: 60%;
}
.s4 .main .data div:nth-of-type(3) p:nth-of-type(2) span:nth-of-type(1){
    width: 30%;
}
.s4 .main .data div span{
    float: left;
    font-size: 10px;
    line-height: 10px;
}
.s4 .main .p-text{
    font-size: 13px;
    position: absolute;
    bottom:4vh;
    width: 80%;
    padding:0 10px;
    left: 50%;
    margin-left: -40%;
}

.s4 .footer{
    width:100%;
    position: absolute;
    bottom:5px;
}
.s4 .footer p{
    height:70px;
}
.s4 .footer p img{
    height:70px;
    position: absolute;
}
.s4 .footer p img:nth-of-type(1){
    left:-115px;
    bottom:6px;
}
.s4 .footer p img:nth-of-type(2){
    left:-130px;
}


/*第五屏*/
.s5{
    color: #00ecc5;
}
.s5 h2{
    padding-top: 40px;
    margin-bottom: 30px;
}
.s5 h2::before{
    background: url("../img/14.png");
    width: 82px;
    height: 20px;
    background-size: cover;
    content: "";
    position: absolute;
    display: inline-block;
    top:50px;
    left:20px;
}
.s5 h2::after{
    background: url("../img/13.png");
    width: 82px;
    height: 20px;
    background-size: cover;
    content: "";
    position: absolute;
    display: inline-block;
    top:50px;
    right:20px;
}
.s5 h2 small{
    display: block;
    font-size: 10px;
    letter-spacing:6px;
    padding-top: 10px;
}
.s5 .main{
    margin: 0 5%;
}
.s5 .main .user1,.s5 .main .user2,.s5 .main .user3,.s5 .main .user4{
    width: 50%;
    float: left;
    position: relative;
    margin-bottom: 5%;
}
.s5 .main .user1 .user1-img,.s5 .main .user2 .user2-img,.s5 .main .user3 .user3-img,.s5 .main .user4 .user4-img{
    width: 80%;
}
.s5 .main .user1 div,.s5 .main .user2 div,.s5 .main .user3 div,.s5 .main .user4 div{
    position: absolute;
    top:0;
    width: 80%;
    left:50%;
    margin-left: -40%;
    margin-top: 13px;
}
.s5 .main .user1 div img,.s5 .main .user2 div img,.s5 .main .user3 div img,.s5 .main .user4 div img{
    width: 75%;
}
.s5 .main .user1 p:nth-of-type(1),.s5 .main .user2 p:nth-of-type(1),.s5 .main .user3 p:nth-of-type(1),.s5 .main .user4 p:nth-of-type(1){
    font-size: 14px;
    padding-bottom: 4px;
}
.s5 .main .user1 p:nth-of-type(2),.s5 .main .user2 p:nth-of-type(2),.s5 .main .user3 p:nth-of-type(2),.s5 .main .user4 p:nth-of-type(2){
    background: linear-gradient(to right,#00e7f9, #26f9b2);
    color: #000;
    border-radius: 50px;
    width: 80%;
    margin: auto;
    height:20px;
    font-size: 15px;
}

.s5 .footer{
    width:100%;
    position: absolute;
    bottom:5px;
}
.s5 .footer p{
    height:70px;
}
.s5 .footer p img{
    height:70px;
    position: absolute;
}
.s5 .footer p img:nth-of-type(1){
    left:-115px;
    bottom:6px;
}
.s5 .footer p img:nth-of-type(2){
    left:-130px;
}



/*第六屏*/
.s6{
    color: #00ecc5;
}
.s6 h2{
    padding-top: 40px;
    margin-bottom: 5%;
}
.s6 h2::before{
    background: url("../img/14.png");
    width: 82px;
    height: 20px;
    background-size: cover;
    content: "";
    position: absolute;
    display: inline-block;
    top:50px;
    left:20px;
}
.s6 h2::after{
    background: url("../img/13.png");
    width: 82px;
    height: 20px;
    background-size: cover;
    content: "";
    position: absolute;
    display: inline-block;
    top:50px;
    right:20px;
}
.s6 h2 small{
    display: block;
    font-size: 10px;
    letter-spacing:6px;
    padding-top: 10px;
}
.s6 .main{
    width: 80%;
    height: 60vh;
    margin: auto;
    border-left: 1px dashed #26f9b2;
}
.s6 .main div p{
    text-align: left;
    font-size: 12px;
    line-height: 20px;
}
.s6 .main .li-p{
    text-align: left;
    font-size: 16px;
    width: 90%;
    padding:0 10px 0;
    margin-bottom: 5px;
    color: #000;
    background: url("../img/p-bj_03.png");
    background-size: cover;
    height: 30px;
    line-height: 30px;
}

.s6 .main ul{
    margin-left: 20px;
}
.s6 .main ul{
    list-style: url("../img/li_03.jpg");
}
.s6 .main ul .li-div{
    border-radius: 10px;
    padding:10px;
    background: radial-gradient(ellipse, rgba(255, 255, 255, 0), #00576a); /* 由内而外渐变 */
    margin-bottom: 5%;
}


.s6 .footer{
    width:100%;
    position: absolute;
    bottom:5px;
}
.s6 .footer p{
    height:70px;
}
.s6 .footer p img{
    height:70px;
    position: absolute;
}
.s6 .footer p img:nth-of-type(1){
    left:-115px;
    bottom:6px;
}
.s6 .footer p img:nth-of-type(2){
    left:-130px;
}



/*第七屏*/
.s7{
    color: #00f3c5;
}
.s7 h2{
    padding-top: 50px;
    margin-bottom: 30px;
}
.s7 h2::before{
    background: url("../img/14.png");
    width: 82px;
    height: 20px;
    background-size: cover;
    content: "";
    position: absolute;
    display: inline-block;
    top:60px;
    left:20px;
}
.s7 h2::after{
    background: url("../img/13.png");
    width: 82px;
    height: 20px;
    background-size: cover;
    content: "";
    position: absolute;
    display: inline-block;
    top:60px;
    right:20px;
}
.s7 h2 small{
    display: block;
    font-size: 10px;
    letter-spacing:6px;
    padding-top: 10px;
}
.s7 .main{
    position: relative;
}
.s7 .main img{
    width: 80%;
    height: 60vh;
}
.s7 .main .input{
    width: 80%;
    position: absolute;
    top:0;
    left:50%;
    margin-left: -40%;
    padding-top: 10%;
}
.s7 .main .input input{
    width: 90%;
    height: 50px;
    background: #ffffff;
    margin-bottom: 10px;
    padding-left: 5px;
}
.s7 .main .input button{
    display: block;
    width: 90%;
    height: 50px;
    background: #00f2ca;
    color: #fff;
    margin: auto;
    margin-bottom: 5%;
}
.s7 .main .input p{
    font-size: 14px;
}

.s7 .footer{
    width:100%;
    position: absolute;
    bottom:5px;
}
.s7 .footer p{
    height:70px;
}
.s7 .footer p img{
    height:70px;
    position: absolute;
}
.s7 .footer p img:nth-of-type(1){
    left:-115px;
    bottom:6px;
}
.s7 .footer p img:nth-of-type(2){
    left:-130px;
}