@charset "UTF-8";
/*!
 * shengbangshenghua
*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

body {
  font-family: "微软雅黑"; }

ul {
  list-style: none; }

a {
  text-decoration: none; }

.container {
  width: 1200px;
  margin: auto; }

.text-center {
  text-align: center; }

.col-3 {
  width: 25%;
  float: left;
  padding-left: 15px;
  padding-right: 15px; }

.col-6 {
  width: 50%;
  float: left;
  padding-left: 15px;
  padding-right: 15px; }

.row {
  margin-left: -15px;
  margin-right: -15px; }
  .row::after {
    display: table;
    clear: both;
    content: ""; }

header nav .logo {
  float: left; }
  header nav .logo a {
    display: inline-block; }
    header nav .logo a img {
      padding-top: 15px;
      padding-bottom: 15px; }

header nav ul {
  float: right; }
  header nav ul::after {
    display: table;
    clear: both;
    content: ""; }

header nav li {
  float: left;
  padding-left: 3px;
  padding-right: 3px; }
  header nav li a {
    padding: 30px 12px;
    display: inline-block;
    color: #000; }
    header nav li a.active, header nav li a:hover {
      border-bottom: 4px solid #0086da;
      color: #0086da; }

header .banner img {
  width: 100%; }

@media (max-width: 1200px) {
  .container {
    width: 960px; } }

@media (max-width: 960px) {
  .container {
    width: 720px; }
  header nav .logo {
    float: none;
    text-align: center; }
  header nav ul {
    float: none;
    width: 720px;
    margin: auto; } }

@media (max-width: 720px) {
  .container {
    width: 320px; }
  .col-3 {
    width: 100%; }
  .col-6 {
    width: 100%; }
  header nav li a {
    padding: 10px 5px;
    font-size: 16px; }
  header nav li a.active, header nav li a:hover {
    border: 0; }
  header nav .logo {
    float: none;
    text-align: center; }
  header nav ul {
    width: 320px;
    margin: 0; } }

.solutions {
  padding-top: 30px;
  padding-bottom: 30px; }
  .solutions h1 {
    font-size: 26px;
    color: #543333;
    font-weight: 200; }
    .solutions h1 i {
      background-image: url("../images/icon.png");
      background-position: -1px -1px;
      display: inline-block;
      width: 21px;
      height: 31px;
      margin-right: 5px; }
  .solutions h4 {
    color: #999999;
    font-size: 18px;
    padding-bottom: 35px; }
  .solutions h2 {
    font-size: 16px;
    color: #333;
    padding-bottom: 10px; }
  .solutions p {
    font-size: 14px;
    color: #555;
    line-height: 1.5em; }
  .solutions img {
    padding-bottom: 10px; }

@media (max-width: 720px) {
  .solutions-main {
    margin-bottom: 20px; } }

.case {
  background-color: #f0eeed;
  padding-top: 30px; }
  .case h1 {
    font-size: 26px;
    color: #543333;
    font-weight: 200; }
    .case h1 i {
      background-image: url("../images/icon.png");
      background-position: -1px -33px;
      display: inline-block;
      width: 36px;
      height: 31px;
      margin-right: 5px; }
  .case h4 {
    color: #999999;
    font-size: 18px;
    padding-bottom: 35px; }
  .case .pic::after {
    display: table;
    clear: both;
    content: ""; }
  .case img {
    display: block;
    width: 25%;
    float: left; }
  .case .case-main {
    background-color: #128abc;
    padding: 25px 50px; }
    .case .case-main::after {
      display: table;
      clear: both;
      content: ""; }
    .case .case-main .case-main-p {
      float: left; }
      .case .case-main .case-main-p h1 {
        color: #fff;
        font-size: 18px;
        font-weight: 200;
        padding-bottom: 5px; }
      .case .case-main .case-main-p p {
        color: #fff;
        font-size: 14px; }
    .case .case-main .case-main-input {
      float: right; }
      .case .case-main .case-main-input a {
        font-size: 12px;
        color: #fff;
        display: inline-block;
        padding: 12px 10px;
        border: 2px solid #fff;
        border-radius: 5px; }
        .case .case-main .case-main-input a:hover {
          background: #fff;
          color: #128abc; }

@media (max-width: 720px) {
  .case img {
    display: inline-block;
    width: 50%;
    float: left; }
  .case .case-main .case-main-p, .case .case-main .case-main-input {
    float: none;
    text-align: center; }
  .case .case-main .case-main-p {
    margin-bottom: 10px; } }

.news {
  padding-top: 30px;
  padding-bottom: 30px; }
  .news::after {
    display: table;
    clear: both;
    content: ""; }
  .news h1 {
    font-size: 26px;
    color: #543333;
    font-weight: 200; }
    .news h1 i {
      background-image: url("../images/icon.png");
      background-position: 0 -65px;
      display: inline-block;
      width: 42px;
      height: 28px;
      margin-right: 5px; }
  .news h4 {
    color: #999999;
    font-size: 18px;
    padding-bottom: 35px; }
  .news img {
    float: left; }
  .news .news-main {
    float: left;
    padding: 5px 20px;
    width: 345px; }
    .news .news-main h2 {
      font-weight: 200;
      font-size: 18px;
      margin-bottom: 20px; }
    .news .news-main p {
      font-size: 14px;
      line-height: 1.5em; }
      .news .news-main p:nth-of-type(1) {
        margin-bottom: 20px; }
      .news .news-main p:nth-of-type(2) {
        margin-bottom: 20px; }
    .news .news-main a {
      padding: 10px 15px;
      background-color: #128abc;
      color: #fff;
      font-size: 14px;
      display: inline-block;
      border-radius: 5px; }

@media (max-width: 1200px) {
  .news .news-main {
    width: 225px; }
  .news .news-main h2 {
    margin-bottom: 10px; }
  .news .news-main p:nth-of-type(1) {
    margin-bottom: 10px; } }

@media (max-width: 960px) {
  .news .col-6 {
    text-align: center; }
    .news .col-6 img {
      float: none; }
    .news .col-6 .news-main {
      float: none;
      width: 100%; } }

@media (max-width: 720px) {
  .news {
    text-align: center; }
    .news .news-main {
      margin-bottom: 20px; }
    .news img {
      float: none; } }

.serve {
  background: #f0eeed;
  padding-top: 40px;
  padding-bottom: 40px; }
  .serve h1 {
    font-size: 26px;
    color: #543333;
    font-weight: 200; }
    .serve h1 i {
      background-image: url("../images/icon.png");
      background-position: 0 -94px;
      display: inline-block;
      width: 39px;
      height: 36px;
      margin-right: 5px; }
  .serve h4 {
    color: #999999;
    font-size: 18px;
    padding-bottom: 35px; }
  .serve ul::after {
    display: table;
    clear: both;
    content: ""; }
  .serve ul {
    text-align: center; }
    .serve ul li:nth-of-type(8), .serve ul li:nth-of-type(9), .serve ul li:nth-of-type(10) {
      display: none; }
  .serve li {
    float: left;
    width: 160px;
    padding-left: 20px;
    padding-right: 20px; }
    .serve li a {
      display: inline-block; }

@media (max-width: 1200px) {
  .serve li {
    width: 135px;
    padding-left: 0;
    padding-right: 0; } }

@media (max-width: 960px) {
  .serve li:nth-of-type(6), .serve li:nth-of-type(7) {
    display: none; } }

@media (max-width: 720px) {
  .serve li {
    display: inline-block;
    height: 72px;
    margin-bottom: 20px; }
  .serve li:nth-of-type(7) {
    display: none; }
  .serve li:nth-of-type(6) {
    display: block; } }

footer {
  background-color: #367ba9;
  padding-bottom: 45px;
  padding-top: 45px; }
  footer::after {
    display: table;
    clear: both;
    content: ""; }
  footer .container::after {
    display: table;
    clear: both;
    content: ""; }
  footer .footer-left {
    float: left;
    padding-left: 40px;
    padding-right: 40px; }
    footer .footer-left h2 {
      color: #fff;
      font-size: 16px;
      padding-bottom: 25px; }
    footer .footer-left p {
      color: #fff;
      font-size: 14px;
      padding-bottom: 15px; }
      footer .footer-left p:nth-of-type(5) {
        font-size: 18px;
        font-weight: 600; }
  footer .link {
    float: left;
    padding-left: 40px; }
    footer .link h2 {
      color: #fff;
      font-size: 16px;
      padding-bottom: 25px; }
    footer .link ul::after {
      display: table;
      clear: both;
      content: ""; }
    footer .link li {
      float: left; }
      footer .link li a {
        padding: 10px 25px;
        color: #fff;
        display: inline-block; }
        footer .link li a:hover {
          text-decoration: underline; }

@media (max-width: 960px) {
  footer .footer-left {
    padding-left: 0; } }

@media (max-width: 720px) {
  footer {
    text-align: center; }
    footer .footer-left {
      padding-left: 0;
      padding-right: 0; }
    footer ul {
      margin: auto;
      width: 228px; }
  footer .footer-left, footer .link {
    float: none; }
  footer .link {
    padding-left: 0; } }
